# Dependencies
node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# Logs & debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / production output
dist/
build/
/.next/
/out/
.next/

# OS / misc
.DS_Store
Thumbs.db
*.pem

# Local env files
.env
.env*.local
.env.local
.env.production
!.env.production.example

# Uploads
uploads/
/uploads

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# TypeScript
*.tsbuildinfo
next-env.d.ts
.vercel
