DATABASE_HOSTNAME=localhost
DATABASE_PORT=5432
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_USERNAME=
SECRET_KEY=Your Secret Key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30



APP_NAME=Syllabus to Calendar

REFRESH_TOKEN_EXPIRE_DAYS=7

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
FRONTEND_URL=http://localhost:3000


GEMINI_API_KEY=Your API key
GEMINI_MODEL=models

DEBUG=False
MAX_FILE_SIZE_MB=10
UPLOAD_DIR=uploads